<section class="darkvslight">
    <div class="container">
        <div class="darkandlight">
            <div class="dark">
                <h1>Switch between</h1>
                <img src="/images/others/mockup.svg" alt="Computer">
            </div>
            <div class="light">
                <h1>Light & Dark Mode</h1>
            </div>
        </div>
    </div>
</section>

