<section class="intergrated-tools">
    <div class="container">
        <div class="boxes2">
            <h1>Integrate Top Work Tools</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
            <div class="box">
                <a href="#">
                    <img class="one" src="images\icons\googleicon.svg" alt="">
                    <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
                </a>
            </div>
            <div class="box">
                <a href="#">
                    <img src="images\icons\zoomicon.svg" alt="">
                    <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
                </a>
            </div>
            <div class="box">
                <a href="#">
                    <img src="images\icons\slackicon.svg" alt="">
                    <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                </a>
            </div>
            <div class="box">
                <a href="#">
                    <img src="images\icons\gmailicon.svg" alt="">
                    <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
                </a>
            </div>
            <div class="box">
                <a href="#">
                    <img src="images\icons\cuadicon.svg" alt="">
                    <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
                </a>
            </div>
            <div class="box">
                <a href="#">
                    <img src="images\icons\monkeyicon.svg" alt="">
                    <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                </a>
            </div>
            <div class="box">
                <a href="#">
                    <img src="images\icons\boxicon.svg" alt="">
                    <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
                </a>
            </div>
            <div class="box">
                <a href="#">
                    <img src="images\icons\elefanticon.svg" alt="">
                    <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
                </a>
            </div>
        </div>
    </div>
</section>