<section class="manage-work">
    <div class="container">
        <div class="managework">
            <img src="/images/others/showcaseimgtwo.svg" alt="">
            <div class="work">
                <h2>Manage Your Work</h2>
                <div class="check1">
                    <img src="/images/icons/bx-check-circle.svg" alt="">
                    <p>Powerful project management</p>
                </div>
                <div class="check1">
                    <img src="/images/icons/bx-check-circle.svg" alt="">
                </div>
                <p class="worknew">Transparent work management</p>

                <div class="check1">
                    <img src="/images/icons/bx-check-circle.svg" alt="">
                    <p>Manage work & focus on the most important tasks</p>
                </div>
                <div class="check1">
                    <img src="/images/icons/bx-check-circle.svg" alt="">
                    <p>Track your progress with interactive charts</p>
                </div>
                <div class="check1">
                    <img src="/images/icons/bx-check-circle.svg" alt="">
                    <p>Easiest way to track time spent on tasks</p>
                </div>
                <a class="btn-theme-s" href="#">learn more </a>
            </div>
        </div>
    </div>
</section>
