<section class="mobile-main">
    <div class="container">
        <div class="mobilemain">
            <img src="/images/others/movilone.svg" alt="">
            <div class="mobileone">
                <h1>Download Our App<br /> for Any Devices:</h1>
                <div class="appstore">
                    <p>App Store</p>
                    <img src="/images/ratings/rating.svg" alt="">
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                    <img class="appst" src="/images/brands/appstore.svg" alt="">
                </div>
                <div class="googleplay">
                    <p>Google Play</p>
                    <img src="/images/ratings/rating.svg" alt="">
                    <h4>App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                    <img class="appst" src="/images/brands/googleplay.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
