<section class="showcase">
    <div class="container ">
        <div class="content">
            <div class="showone">
                <h1>Task Management<br /> Assistant You <br /> Gonna Love</h1>
                <p>We offer you a new generation of task management system.<br /> Plan, manage & track all your tasks in one flexible tool.</p>
                <a class="btn btn-theme-s" href="/products">Get started for free</a>

            </div>
            <div class="brands-text">
                <h6>Largest companies use our tool to work efficiently</h6>

                <div class="brands">
                    <img src="/images/brands/brandone.svg" alt="Alternate Text" />
                    <img src="/images/brands/brandtwo.svg" alt="Alternate Text" />
                    <img src="/images/brands/brandthree.svg" alt="Alternate Text" />
                    <img src="/images/brands/brandfour.svg" alt="Alternate Text" />

                </div>
            </div>
        </div>
        <div class="showcaseimage">
            <img src="/images/others/showcaseimg.svg" alt="Alternate Text" />
        </div>
    </div>
</section>
