.courses {
    padding-top: 3rem;
    padding-bottom: 5rem;

    .container {
        #form-filters {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 1rem;

            select {
            }

            .input-search-group {
            }
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
        }



        .course-items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;

            .course {
                position: relative;
                display: block;
                border-radius: 8px;
                overflow: hidden;
                text-decoration: none;
                box-shadow: 0 0 14px -4px #B4B7C9;
                color: #565973;

                &.hover {
                    box-shadow: 0 0 14px -4px #0B0F19;
                }

                .bestseller {
                    position: absolute;
                    background-color: green;
                    padding: 0px 5px;
                    border-radius: 5px;
                    color: #FFFFFF;
                    top: 1rem;
                    left: 1rem;
                    z-index: 999;
                }

                img {
                    width: 100%;
                }

                .btn-bookmarks{
                    position:absolute;
                    padding:10px 10px 10px 10px;
                    right: 1rem;
                    top: 1rem;
                    background-color:white;
                    border-radius:25px;
                }
                    
                    
                    .content {
                    padding: 1rem 2rem;

                    .title {
                        font-size: 20px;
                    }

                    .author {
                        font-size: 14px;
                        margin: 0.5rem 0;
                    }

                    .pricing {
                        display: flex;
                        gap: 1rem;
                        font-size: 18px;
                        font-weight: 600;

                        .discount {
                            color: #EF4444;
                            font-size: 18px;
                            font-weight: 600;
                        }

                        .original {
                            color: #6366F1;
                            font-size: 18px;
                            font-weight: 600;
                        }

                        .discount-enabled {
                            color: #9397AD;
                            text-decoration: line-through;
                            font-size: 18px;
                            font-weight: 400
                        }
                    }

                    .footer {
                        color: #9397AD;
                        border-top: 1px solid #D4D7E5;
                        display: flex;
                        gap: 2rem;
                        margin-top: 1rem;
                        padding-top: 1rem;

                        .hours {
                            i {
                                margin-right: 5px;
                            }
                        }

                        .likes {
                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
