.signin {
    margin-top: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
    }

    .container {
        width: 40%;

        form {
            .form-content {
                margin-top: 30px;
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr;
                grid-template-areas: "email" "password" "rememberme" "submit";
            }

            input-group {
                label {
                    padding: 10px;
                }
            }

            .checkbox-group {
                margin-top: 10px;
                margin-bottom: 10px
            }

            #form-email {
                grid-area: email;
            }

            #form-password {
                grid-area: password;
            }

            #form-rememberme {
                grid-area: rememberme;
            }

            #btn-submit {
                grid-area: submit;
            }

            .validation-message{
                color:red;
            }
        }

        .input-sign-form {
            .input-group {
                display: flex;
            }
        }
    }
}
