@inherits LayoutComponentBase
@layout AccountLayout


<section class="account-details">
    <div class="container">


        <aside>
            <Frontendclasnew.Components.Sections.AccountProfileDetails/>
            <ManageNavMenu />

        </aside>
        <div class="content">
            @Body
        </div>
    </div>

</section>














